.GeneralContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 16px;
}

.GeneralContent-article {
    overflow: scroll;
    background-color: var(--card-background);
    padding: 16px;
    border: 16px solid;
    margin: auto;
    font-size: 1.6rem;
}

.GeneralContent-fullscreen {
    align-self: end;
}

@media screen and (min-width: 978px) {
    .GeneralContent-article {
        max-width: 40vw;
        transform: translate(-30%, 30%);
        margin: auto;
        box-shadow: var(--card-box-shadow);
        border: 1px solid;
        font-size: 2rem;
    }

    .GeneralContent-fullscreen {
        transform: translate(-5vw, 5vw);
    }
}