.App {
    height: 100vh;
    background-image: url('./assets/GSFC_20171208_Archive_e000078.jpg');
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}